In [28]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
import warnings

warnings.filterwarnings('ignore')

In [29]:
df = pd.read_csv("../dataset/updated_bank.csv");df

,age,job,marital,education,default,balance,housing,loan,day,month,duration,campaign,y,contact_cellular,contact_telephone,contact_unknown,duration_contact_cellular,duration_contact_telephone,duration_contact_unknown,above_median_duration
0,30,unemployed,married,primary,no,1787.0,no,no,19,oct,79,1,no,True,False,False,79,0,0,0
1,30,management,married,tertiary,no,1476.0,yes,yes,3,jun,199,4,no,False,False,True,0,0,199,1
2,59,blue-collar,married,secondary,no,0.0,yes,no,5,may,226,1,no,False,False,True,0,0,226,1
3,39,technician,married,secondary,no,147.0,yes,no,6,may,151,2,no,True,False,False,151,0,0,0
4,41,entrepreneur,married,tertiary,no,221.0,yes,no,14,may,57,2,no,False,False,True,0,0,57,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2398,33,services,married,secondary,no,288.0,yes,no,17,apr,306,3,no,True,False,False,306,0,0,1
2399,42,admin.,married,unknown,no,642.0,yes,yes,16,may,509,2,no,False,False,True,0,0,509,1
2400,36,technician,divorced,secondary,no,566.0,yes,no,20,may,129,2,no,False,False,True,0,0,129,0
2401,49,blue-collar,married,secondary,no,322.0,no,no,14,aug,356,2,no,True,False,False,356,0,0,1
2402,33,services,married,secondary,no,-333.0,yes,no,30,jul,264,5,no,True,False,False,264,0,0,1

In [30]:
X = df.drop("y", axis=1);
y = df["y"]

label_enc = LabelEncoder()

for column in X.select_dtypes(include=['object']).columns:
    X[column] = label_enc.fit_transform(X[column])
    
    
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, stratify=y)


scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [31]:
# Model 1: Random Forest
rf_model = RandomForestClassifier(random_state=42)
rf_model.fit(X_train, y_train)
y_pred_rf = rf_model.predict(X_test)


conf_matrix_random_forest = confusion_matrix(y_test, y_pred_rf);conf_matrix_random_forest

array([[683,   4],
       [ 33,   1]], dtype=int64)

In [32]:
report_random_forest = classification_report(y_test, y_pred_rf)

print(report_random_forest)

              precision    recall  f1-score   support

          no       0.95      0.99      0.97       687
         yes       0.20      0.03      0.05        34

    accuracy                           0.95       721
   macro avg       0.58      0.51      0.51       721
weighted avg       0.92      0.95      0.93       721

In [33]:
# Model 2: Gradient Boosting
gb_model = GradientBoostingClassifier(random_state=42)
gb_model.fit(X_train, y_train)
y_pred_gb = gb_model.predict(X_test)

conf_matrix_gradient_boosting = confusion_matrix(y_test, y_pred_gb);conf_matrix_gradient_boosting

array([[680,   7],
       [ 31,   3]], dtype=int64)

In [34]:
report_gradient_boosting = classification_report(y_test, y_pred_gb)

print(report_gradient_boosting)

              precision    recall  f1-score   support

          no       0.96      0.99      0.97       687
         yes       0.30      0.09      0.14        34

    accuracy                           0.95       721
   macro avg       0.63      0.54      0.55       721
weighted avg       0.93      0.95      0.93       721