In [19]:
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency
from sklearn.feature_selection import mutual_info_classif

In [20]:
df = pd.read_csv("../dataset/bank.csv", sep=";");df.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

# remove duration

In [22]:
total_negative_ones = (df['pdays'] == -1).sum()

print("Total number of -1's in pdays column:", total_negative_ones)
total_rows = df['pdays'].count()
contacted_before = total_rows - total_negative_ones

print("Total number of people contacted before:", contacted_before)

Total number of -1's in pdays column: 3705
Total number of people contacted before: 816

In [23]:
print("Missing values in DataFrame before processing:\n", df.isnull().sum())

print("Data types before conversion:\n", df.dtypes)

# Split the data into features and target variable
X = df.drop(['y'], axis=1)  # Features (drop 'id' and 'y' from features)
y = df['y']  # Target variable

# Convert categorical features to 'category' type
categorical_cols = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'day', 'month', 'poutcome']
X[categorical_cols] = X[categorical_cols].astype('category')
# Ensure numerical columns are of the correct type
numerical_cols = ['age', 'balance', 'duration', 'campaign', 'pdays', 'previous']
# Check for NaN values in numerical features
print("\nCheck for NaN values in numerical features before conversion:\n", df[numerical_cols].isnull().sum())
#
# # 1. Correlation
# # For correlation, we need to convert categorical variables to numerical (dummy variables)
# correlation = df.select_dtypes(include=['int64', 'float64']).corr()['y'].abs().sort_values(ascending=False)
# print("Correlation with target:\n", correlation)
#
# # 2. Chi-square test for categorical features
# chi2_results = {}
# for column in categorical_cols:  # Consider only categorical features
#     contingency_table = pd.crosstab(X[column], y)
#     chi2_stat, p_val, dof, expected = chi2_contingency(contingency_table)
#     chi2_results[column] = chi2_stat
#
# chi2_results = sorted(chi2_results.items(), key=lambda x: x[1], reverse=True)
# print("\nChi-square results:\n", chi2_results)
#
# # 3. Mutual Information
# X_numeric = X.select_dtypes(include=['int64', 'float64'])
# mutual_info = mutual_info_classif(X_numeric, y, discrete_features=True)
# mutual_info_series = pd.Series(mutual_info, index=X_numeric.columns).sort_values(ascending=False)
# print("\nMutual Information:\n", mutual_info_series)
#
# # Combining results
# combined_results = pd.DataFrame({
#     'Correlation': correlation,
#     'Chi2': pd.Series(dict(chi2_results)).reindex(X.columns, fill_value=0),
#     'Mutual Information': mutual_info_series
# })
#
# # Return best features based on a threshold or top N
# top_features = combined_results.sort_values(by='Correlation', ascending=False)
# print("\nTop features based on correlation:\n", top_features)

Missing values in DataFrame before processing:
 age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64
Data types before conversion:
 age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

Check for NaN values in numerical features before conversion:
 age         0
balance     0
duration    0
campaign    0
pdays       0
previous    0
dtype: int64